/* hex colors used
#C12267 = burnt pink
#583759 = plum purple
*/

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
  padding:100px;
  border: 20px solid #C12267;
  background: url('images/hip-square.png') repeat floralwhite;
  font-family: monospace;
  font-size: 20px;
  color: #583759; /*plum purple*/
}

h1 {
  margin: 0 auto;
  position: relative;
  padding-bottom: 5px;
  width:500px;
  text-align:center;
  font-family: 'Sacramento', cursive;
  font-size:2.5em;
  color: #C12267; /*burnt pink*/
  border-bottom: 1px dotted #333;
}

h1::before, h1::after {
  content: 'o';

  position:absolute;
  top:68px; left:-10px;

  font-family: monospace;
  font-weight: normal;
  font-size:0.3em;
  color:#333;

}
 h1::after {
   left:500px;
 }

h2 {
  color: #C12267;
}

h3 {
  border-bottom: 1px dotted black;
  text-transform: uppercase;
}

a {
  font-family: 'Sacramento', cursive;
  font-size:1.5em;
  color: mediumturquoise;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: cyan;
  text-decoration: underline;
}

.sidenote {
  position: relative;
  margin-top:10px;
  padding:15px 20px;
  font-size:0.8em;
  background: mistyrose;
}

.sidenote::before {
  content: "Note!";
  padding: 5px;
  position: absolute;
  top: -10px; left:-10px;
  background: #C12267;
  color: floralwhite;
  font-weight: bold;

}

.shadow {
  text-shadow: 1px 1px 2px;
}
